@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:vizited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul, li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

@font-face {
  font-family: MyriadPro-It;
  src: url("../fonts/Myriad_Pro_Italic.eot");
  src: local("☺"), url("../fonts/Myriad_Pro_Italic.woff") format("woff"), url("../fonts/Myriad_Pro_Italic.ttf") format("truetype"), url("../fonts/Myriad_Pro_Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: MyriadProIt;
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro;
  src: url("../fonts/ofont.ru_Myriad Pro bold.eot");
  src: local("☺"), url("../fonts/ofont.ru_Myriad Pro bold.woff") format("woff"), url("../fonts/ofont.ru_Myriad Pro bold.ttf") format("truetype"), url("../fonts/ofont.ru_Myriad Pro bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

* {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.4fr 1fr;
  grid-template-columns: 1fr 1.4fr 1fr; }
  .welcome .grid-item {
    height: 1103px;
    border: 3px solid #f1ac11;
    padding: 46px; }

.welcome__logo {
  background: url(../image/top-1.png) center/cover no-repeat; }

.logo__wrapper {
  max-width: 319px;
  min-width: 150px;
  margin: 0 20px 0 0; }
  .logo__wrapper img {
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.welcome__fullMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 422px;
  max-height: 256px;
  margin: 277px auto 0;
  position: relative; }
  .welcome__fullMenu img {
    -webkit-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 0.3);
    opacity: 0.4;
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
    .welcome__fullMenu img:hover {
      opacity: 1; }

.fullMenu__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .fullMenu__wrapper img {
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .fullMenu__wrapper h2 {
    font-family: MyriadPro;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2b2b2b;
    text-align: center; }
  .fullMenu__wrapper button {
    font-family: MyriadPro;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2b2b2b;
    width: 140px;
    height: 30px;
    background-color: #f1ac11;
    border-radius: 4.0px; }
  .fullMenu__wrapper .first_title {
    max-width: 183px;
    font-size: 38px; }
  .fullMenu__wrapper .second_title {
    max-width: 250px;
    font-size: 38px; }
  .fullMenu__wrapper .third_title {
    max-width: 157px;
    font-size: 38px; }

.welcome__nav {
  background: url(../image/top-2.png) center/cover no-repeat; }
  .welcome__nav .nav {
    max-width: 657px;
    height: 67px;
    margin: 0 auto; }
    .welcome__nav .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .welcome__nav .nav a {
      text-decoration: none; }
    .welcome__nav .nav li {
      font-family: MyriadPro-It;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #fff; }
      .welcome__nav .nav li:hover {
        color: #f1ac11;
        border-bottom: 1px solid #f1ac11; }

.welcome__secrets {
  background: url(../image/top-3.png) center/cover no-repeat; }
  .welcome__secrets .secrets__position {
    margin: 387px auto 0; }

@media (max-width: 1756px) {
  .welcome .grid-item {
    height: 903px; }
  .welcome__secrets .secrets__position {
    margin: 310px auto 0; }
  .welcome__fullMenu {
    margin: 205px auto 0; }
  .welcome__nav .nav li {
    font-size: 18px; }
  .welcome {
    -ms-grid-columns: 1fr 1.2fr 1fr;
    grid-template-columns: 1fr 1.2fr 1fr; } }

@media (max-width: 1439px) {
  .welcome .grid-item {
    height: 703px; }
  .welcome__nav .nav li {
    font-size: 14px; }
  .fullMenu__wrapper h2.third_title {
    font-size: 30px; }
  .fullMenu__wrapper h2.first_title {
    font-size: 30px; }
  .welcome__fullMenu {
    margin: 95px auto 0; }
  .welcome__secrets .secrets__position {
    margin: 210px auto 0; } }

@media (max-width: 1200px) {
  .welcome .grid-item {
    height: 503px; }
  .welcome__fullMenu {
    margin: 45px auto 0; }
  .welcome__secrets .secrets__position {
    margin: 130px auto 0; }
  .welcome__nav .nav li {
    font-size: 10px; }
  .fullMenu__wrapper h2.third_title {
    font-size: 26px; }
  .fullMenu__wrapper h2.first_title {
    font-size: 26px; }
  .fullMenu__wrapper h2.second_title {
    font-size: 26px;
    max-width: 160px; } }

@media (max-width: 1072px) {
  .welcome {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1.2fr 1fr;
    grid-template-rows: 1fr 1.2fr 1fr; }
  .fullMenu__wrapper h2.third_title {
    font-size: 32px; }
  .fullMenu__wrapper h2.first_title {
    font-size: 32px; }
  .fullMenu__wrapper h2.second_title {
    font-size: 32px;
    max-width: 230px; }
  .welcome__nav .nav li {
    font-size: 22px; }
  .welcome__fullMenu {
    margin: 5px auto 0; } }
