@media (max-width: 1756px) {
	.welcome .grid-item {
		height: 903px;
	}
	.welcome__secrets .secrets__position {
		margin: 310px auto 0;

	}
	.welcome__fullMenu {
		margin: 205px auto 0;
	}
	.welcome__nav .nav li {
		font-size: 18px;
	}
	.welcome {
	grid-template-columns: 1fr 1.2fr 1fr;
	//
	}
}

@media (max-width: 1439px) {
	.welcome .grid-item {
		height: 703px;
	}
		.welcome__nav .nav li {
		font-size: 14px;
	}
	.fullMenu__wrapper h2.third_title {
		font-size: 30px;
	}
	.fullMenu__wrapper h2.first_title {
		font-size: 30px;
	}
		.welcome__fullMenu {
		margin: 95px auto 0;
	}
	.welcome__secrets .secrets__position {
		margin: 210px auto 0;
	}
}

@media (max-width: 1200px) {
	.welcome .grid-item {
		height: 503px;
	}
	.welcome__fullMenu {
		margin: 45px auto 0;
	}
	.welcome__secrets .secrets__position {
		margin: 130px auto 0;
	}
			.welcome__nav .nav li {
		font-size: 10px;
	}
	.fullMenu__wrapper h2.third_title {
		font-size: 26px;
	}
	.fullMenu__wrapper h2.first_title {
		font-size: 26px;
	}
	.fullMenu__wrapper h2.second_title {
		font-size: 26px;
		max-width: 160px;
	}
}

@media (max-width: 1072px) {
	
}