@import "nullstyles.scss";
@import "fonts.scss";


* {
	transition: 1s;
}

.welcome {
	display: grid;
	grid-template-columns: 1fr 1.4fr 1fr;
	.grid-item {
		height: 1103px;
		border: 3px solid #f1ac11;
		padding: 46px;
	}
}
.welcome__logo {
	background: url(../image/top-1.png) center/cover no-repeat;
}
.logo__wrapper {
	max-width: 319px;
	min-width: 150px;
	margin: 0 20px 0 0;
	img {
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}

.welcome__fullMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 422px;
	max-height: 256px;
	margin: 277px auto 0;
	position: relative;
	img {
		box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.3);
		opacity: 0.4;
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
		&:hover {
			opacity: 1;
		}
	}
}

.fullMenu__wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
	h2 {
		font-family: MyriadPro;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #2b2b2b;
		text-align: center;
	}
	button {
		font-family: MyriadPro;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #2b2b2b;
		width: 140px;
		height: 30px;
		background-color: #f1ac11;
		border-radius: 4.0px;
	}
	.first_title {
		max-width: 183px;
		font-size: 38px;
	}
	.second_title {
		max-width: 250px;
		font-size: 38px;
	}
	.third_title {
		max-width: 157px;
		font-size: 38px;
	}
}

.welcome__nav {
	background: url(../image/top-2.png) center/cover no-repeat;
	.nav {
		max-width: 657px;
		height: 67px;
		margin: 0 auto;
		ul {
			display: flex;
			justify-content: space-between;
		}
		a {
			text-decoration: none;
		}
		li {
			font-family: MyriadPro-It;
			font-size: 22px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #fff;
			&:hover {
				color: #f1ac11;
				border-bottom: 1px solid #f1ac11;
			}
		}
	}
}
.welcome__secrets {
	background: url(../image/top-3.png) center/cover no-repeat;
	.secrets__position {
		margin: 387px auto 0;
	}
}

.conteiner {
	max-width: 900px;
	margin: 81px 0 79px;
}

.menu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	.menu__title {
		font-family: MyriadPro-It;
		font-size: 42px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #f1ac11;
		margin: 0 auto 41px;
		max-width: 240px;
	}
	.menu__subtitle::before {
		content: url(../image/icons/check.png);
		margin-right: 19px;
	}
	.menu__subtitle {
		font-family: MyriadPro-It;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #2b2b2b;
		margin-bottom: 40px;
	}

	.menu__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-column-gap: 81px;
	}
}

.list__paragraph {
	max-width: 409px;
	height: 80px;
	margin-bottom: 40px;
	display: flex;
	img {
		margin-right: 31px;
	}
	.list__inform {
		margin-top: 14px;
		width: 300px;
		height: 51px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		p {
			font-family: MyriadPro-It;
			font-size: 13px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #bcbcbc;
		}
		.list__price {
			font-family: MyriadPro;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #2b2b2b;
			.price {
				font-size: 14px;
				font-weight: 700;
			}
			&::after {
				content: url(../image/icons/price_tag.png);
				position: absolute;
				right: 7.5px;
				top: -4px;
				z-index: -1;
			}
		}
	}
}

.menu__paragraph {
	height: 300px;
	background: url(../image/pastaWithTomato.png) no-repeat;
	display: flex;
	justify-content: flex-end;
	.paragraph__info {
		max-width: 334px;
		height: 238px;
		margin: 31px 87px 31px 0;
		a {
			font-family: MyriadPro-It;
			font-size: 12px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #f1ac11;
			text-decoration: none;
			margin: 0 0 20px;
		}
		h2 {
			font-family: MyriadPro-It;
			font-size: 24px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #2b2b2b;
			margin: 0 0 26px;
		}
		p {
			width: 333px;
			height: 85px;
			font-family: MyriadPro-It;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: 0.05em;
			color: #d4d4d4;
			overflow: hidden;
			margin: 0 0 19px;
		}
		button {
			width: 100px;
			height: 32px;
			background-color: #f1ac11;
			border-radius: 2.0px;
			box-shadow: 0 2px 0 #b47d00;
			span {
				font-family: MyriadPro-It;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #2b2b2b;
				text-align: center;
			}
		}
	}
}

.contacts {
	height: 490px;
	background: url(../image/fone.png) center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	.contacts__wrapper {
		max-width: 568px;
		max-height: 330px;
		padding: 70px 60px;
		background: url(../image/icons/table.png) center/cover no-repeat;
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			font-family: MyriadPro-It;
			font-size: 28px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #000000;
			margin: 0 0 40px;
		}
		button {
			width: 130px;
			height: 32px;
			background-color: #f1ac11;
			border-radius: 2px;
			box-shadow: 0 2px 0 #b47d00;
		}
		button p {
			font-family: MyriadPro-It;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #2b2b2b;
		}
	}
	.contacts__info {
		max-width: 432px;
		height: 44px;
		display: flex;
		align-items: center;
		margin: 0 0 38px;
		img {
			margin: 0 20px 0 0;
		}
		.name {
			margin: 0 60px 0 0;
			font-family: MyriadPro;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: 0.05em;
			color: #f3b731;
		}
		div {
			width: 145px;
			height: 37px;
		}
		p {
			font-family: MyriadPro-It;
			font-size: 17px;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: 0.05em;
			color: #000000;
		}
	}
}

.footer {
	background: url(../image/footer_fone.png) center/cover no-repeat;
	min-height: 274px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__wrapper {
	width: 1130px;
	min-height: 116px;
	border: 1px solid red;
	display: flex;
	.adaptive {
		display: flex;
		margin: 0 74px 0 0;
	}
	.footer__list {
		margin: 0 79px 0 0;
		h2 {
			font-size: 22px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #ffffff;
			margin: 0 0 28px;
		}
		ul li {
			font-family: MyriadPro-It;
			font-size: 17px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: #bbbbbb;
		}
	}
}

.footer__input {
			height: 91px;
			h2 {
				font-family: MyriadPro-It;
				font-size: 22px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #ffffff;
				margin: 0 0 43px;
			}
			form {
				height: 34px;
				display: flex;
				.input {
					width: 223px;
					height: 32px;
					background-color: rgba(255, 255, 255, 0.4);;
					padding: 0 0 0 15px;
					margin: 0 23px 0 0;
				}
				.button {
					width: 90px;
					height: 32px;
					background-color: #f1ac11;
					border-radius: 2px;
					box-shadow: 0 2px 0 #b47d00;
					p {
						font-family: MyriadPro-It;
						font-size: 14px;
						line-height: 1.2;
						font-weight: 400;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						color: #2b2b2b;
					}
				}
				.input::-webkit-input-placeholder {
					font-family: MyriadPro-It;
					font-size: 12px;
					line-height: 1.2;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: white;
				}
				.input::-moz-placeholder          {
					font-family: MyriadPro-It;
					font-size: 12px;
					line-height: 1.2;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: white;
				}
				.input:-moz-placeholder           {
					font-family: MyriadPro-It;
					font-size: 12px;
					line-height: 1.2;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: white;
				}
				.input:-ms-input-placeholder      {
					font-family: MyriadPro-It;
					font-size: 12px;
					line-height: 1.2;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: white;
				}
			}
		}


@import "media.scss";